body{
    margin:0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive; 
}
h1{
    font-size: 80px;
    line-height: 10px;
    color: #363958;
}
h2{
    font-size: 40px;
    text-align: center;
    color: #363958;
}

h3{
    text-align: center;
}
p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.orange-highlight{
color:orangered;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 200px;

}
.half-width img{
    width: 100%;
}

}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:800px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px 20px;
    border-radius:10px;
    color: white;
    font-size: 20px;
}

.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 40%;
    background-color: white;
       

}



footer p{
    text-align: center;
    font-size: 12px;
}
h4{text-align: center;}

}
* {
    box-sizing:content-box
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 40%;
    background-color: white;
  }
  
  .column {
    float: left;
    width: 30%;
    float: left;
    padding: 10px;
    height: 300px; 
    padding: 0px;
    margin:20px 30px
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;}